* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Epilogue, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align-center {
  align-items: center;
}

.text-align-left {
  text-align: left;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.body-login {
  display: flex;
  height: 100vh;
  background-image: url('./imgs/login_bg.jpg');
  background-size: cover;
  justify-content: center;
}

.login-container {
  width: 55%;
  height: 375px;
  margin-top: 50px;
  background-color: rgba(241, 241, 241, 0.1);
  border-radius: 30px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container:hover {
  background-color: rgba(241, 241, 241, 0.15);
  transform: scale(1.05);
}

#header-login-title {
  color: #ef3255;
}

.header-login {
  text-align: center;
  color: white;
  font-size: 52px;
  margin-top: 30px;
  margin-bottom: 75px;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.name-input {
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  border: 1px solid #ef3255;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.send-name {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #ef3255;
  color: white;
  transition: 0.3s;
}

.send-name:hover {
  transform: scale(1.05);
}

.page-loading {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: black;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.page-loading img {
  width: 250px;
}

.page-loading p {
  font-size: 32px;
}

.flex-page {
  display: flex;
}

.page-side-nav {
  display: flex;
  width: 22%;
  padding: 25px 0;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: black;
  color:#ef3255;
}

.main-content {
  width: 78%;
  height: 100vh;
}

.main-content header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  background-color: rgb(10, 10, 10);
  position: relative
}

.main-content .render-albums-input {
  height: 65%;
  background-color: rgb(59, 59, 59);
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
}

.main-content section span {
  color: white;
  font-size: 38px;
  font-style: italic;
  margin-top: 20px;
}

.page-side-nav h1 {
  font-size: 38px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.header-user-name {
  font-size: 21px;
  display: flex;
  justify-content: center;
}

.header-nav-links {
  display: flex;
  flex-direction: column;
}

#white {
  color: white;
}

.nav-link {
  text-align: center;
  color: #ef3255;
  text-decoration: none;
  padding: 20px 0;
  font-size: 18px;
  transition: 0.15s;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: #ef3255;
  color: white;
}

.search-artist-container {
  display: flex;
}

.search-artist-container input {
  width: 450px;
  height: 40px;
  font-size: 14px;
  margin-right: 5px;
  padding: 5px 25px;
  border-radius: 30px;
  border: 1px solid #ef3255;
  background-color: transparent;
  color: white;
  outline: none;
}

.search-artist-container button {
  width: 144px;
  border-radius: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background-color: #ef3255;
  color: white;
  transition: 0.2s;
}

.search-artist-container button:hover {
  background-color: #b82641;
}

.search-artist-container input::placeholder {
  color: white;
}

.user-name-label {
  background-color: rgba(194, 194, 194, 0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 4px;
  border-radius: 20px;
}

.user-name-label span {
  margin-right: 5px;
}

.user-name-label img {
  margin-right: 20px;
}

.album-list {
  margin-top: 35px;
  color: white;
  display: flex;
  flex-direction: column;
}

.album-list h1 {
  font-size: 22px;
}

.error-message {
  color: white;
  margin-top: 25px;
}


.album-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
}

.album-card {
  width: 28%;
  background-color: #0A0A0A;
  margin-left: 20px;
  margin-bottom: 59px;
  color: #ef3255;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.album-card:hover {
  transform: scale(1.05);
}

.album-card img {
  width: 100%;
  height: 215px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.album-card:nth-child(1) {
  margin-left: 0;
}

.card-informations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 4px;
}

.card-informations h3 {
  margin-bottom: 15px;
  font-size: 13px;
}

.card-informations h4 {
  font-size: 12px;
}

.album-link {
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  color: #ef3255;
  text-align: left;
}

.album-link::after{
  content: ' >>';
}

.album-information {
  display: flex;
  width: 50%;
  position: absolute;
  left: 30px;
}

.album-information .album-info-image {
  width: 275px;
  border: 8px solid rgba(239, 50, 85, 0.6);
  background-clip: padding-box;
  border-radius: 10px;
}

.album-info-name {
  color: #ef3255;
  text-align: left;
  margin-left: 15px;
  margin-top: 45px;
}

.album-info-name h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

.music-list-container {
  padding-top: 35px;
  display: inline-block;
}

.music-list-container audio {
  margin-bottom: 5px;
  margin-right: 50px;
  vertical-align: middle;
}

.music-list-container .track-name {
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
  position: relative;
  left: -55px;
}

.music-list-container label {
  color: white;
  cursor: pointer;
}

.music-list-container input[type="checkbox"] {
  margin-left: 10px;
  vertical-align: middle;
}

.favorite-title {
  color: #ef3255;
  font-size: 42px;
}

.header-title {
  color: #ef3255;
  font-size: 38px;
}

.profile-img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
}

.perfil-edit-link {
  color: white;
  background-color: #ef3255;
  width: 175px;
  padding: 14px 0;
  text-decoration: none;
  border-radius: 30px;
}

.info-wrap {
  width: 35%;
  color: white;
  margin-top: 20px;
}

.info-wrap-edit {
  width: 45%;
  color: white;
  margin-top: 20px;
}

.info-wrap-edit h3 {
  font-size: 15px;
}

.info-wrap-edit h3::after{
  content: ' :';
}

.perfil-edit-link:hover {
  background-color: #b82641;
}

.position-adjustment {
  justify-content: center ;
  align-items: center;
  justify-content: space-between;
}

.info-title {
  margin-bottom: 5px;
}

.profile-img-edit {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 40px;
}

/* button:disabled:hover{
  cursor: not-allowed;
} */

.input-edit-design {
  background-color: transparent;
  font-size: 16px;
  padding-left: 10px;
  color: white;
  height: 32px;
  border-radius: 20px;
  width: 256px;
  border: 1px solid #ef3255;
  outline: none;
}

.textarea-edit-design {
  background-color: transparent;
  width: 100%;
  color: white;
  margin-top: 5px;
  font-size: 16px;
  height: 150px;
  border: 1px solid #ef3255;
  outline: none;
  padding: 10px;
  resize: none;
  border-radius: 10px;
}

.perfil-edit-button {
  color: white;
  background-color: #ef3255;
  width: 175px;
  padding: 14px 0;
  text-decoration: none;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.perfil-edit-button:hover {
  background-color: #b82641;
}

.perfil-edit-button:disabled:hover {
  background-color: #ef3255;
  cursor: not-allowed;
}